
*.exe
*.vbw
*.vbw
*.tmp
*.log
wrpt/LINK.txt
wrpt/LINK.txt
wrpt/LINK.txt
wrptx/LINK.txt
wrptx/test.ini
mdbrepair/DBFix.vbw
wrptx/wrptx.vbw
mdbrepair/C2.txt
mdbrepair/LINK.txt
mdbrepair/results.txt
dcompare/DCompare.vbw
wrptx/LINK.txt
wrptx/test.ini
dcompare/LINK.txt
imagenscpf/C2.txt
imagenscpf/LINK.txt
imagensjpg/C2.txt
imagensjpg/LINK.txt
mdbtosql/C2.txt
mdbtosql/LINK.txt
wrpt/LINK.txt
wrptx/LINK.txt
controle/LINK.txt
wrptx/LINK.txt
wrptx/LINK.txt
wrpt/LINK.txt
controle/LINK.txt
wrpt/LINK.txt
wrpt/wrpt.vbw
dcompare/DCompare.vbw
wrpt/wrpt.vbw
wrpt/LINK.txt
wrpt/wrpt.vbw
wrpt/wrpt.vbw
wrpt/wrpt.vbw
imagensjpg/imagens.vbw
