
*.exe
*.vbw
*.vbw
*.tmp
*.log
wrpt/LINK.txt
wrpt/LINK.txt
wrpt/LINK.txt
wrptx/LINK.txt
wrptx/test.ini
mdbrepair/DBFix.vbw
wrptx/wrptx.vbw
mdbrepair/C2.txt
mdbrepair/LINK.txt
mdbrepair/results.txt
dcompare/DCompare.vbw
