*.exe
*.dll
*.log
*.tmp
*.vbw
controle/LINK.txt
dcompare/DCompare.vbw
dcompare/LINK.txt
imagenscpf/C2.txt
imagenscpf/LINK.txt
imagensjpg/C2.txt
imagensjpg/imagens.vbw
imagensjpg/LINK.txt
mdbtosql/C2.txt
mdbtosql/LINK.txt
wrpt/LINK.txt
wrpt/wrpt.vbw
*.vbw
